/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

div {
    /*border: 1px solid red;*/
}

h1 {
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
}

h1,
.h1 {
  font-size: 30px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
}