{% extends "game/game_state_base.html" %}

{% block title %}
    Update {{ game_state }}
{% endblock %}

{% block content %}
<h1><a href={% url "game:game_state_list" %}>GameState</a></h1>
<h2>Update {{ game_state }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "game:game_state_detail" game_state.pk %}>Cancel</a>
<form style="display:inline;" action={% url "game:game_state_delete" game_state.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ game_state }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}
