{% extends "game/word_card_base.html" %}

{% block title %}
    Update {{ word_card }}
{% endblock %}

{% block content %}
<h1><a href={% url "game:word_card_list" %}>WordCard</a></h1>
<h2>Update {{ word_card }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "game:word_card_detail" word_card.pk %}>Cancel</a>
<form style="display:inline;" action={% url "game:word_card_delete" word_card.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ word_card }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}
